/Integradora4D/nbproject/private/
/Practica12/nbproject/private/
/Practica12/build/
/Practica12/dist/
/Integradora4D/build/
/Integradora4D/dist/
Integradora4D/src/java/Beans/CategoriaBean.java
/Practica13/nbproject/private/
/Practica13/build/
*.log