
body{
/*background-image: url(../Imagenes/ws_Smooth_Blue_Gradient_2560x1600.png);*/
    padding-top: 50px;
    height: 100%;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.btn-group-warning .dropdown-menu {
    background-color: white !important;
}
.btn-group-warning .dropdown-menu li > a:hover,
.btn-group-warning .dropdown-menu li > a:focus {
    background-color: gainsboro !important;
}

.btn-otro,
.btn-otro:hover,
.btn-otro:active {
    color: black;

    background-color: white;
}
.btn-link2,
.btn-link2:hover,
.btn-link2:active {
    color: black;

    background-color: transparent;
}
.navbar-default {
    background-color: #e10098;
    border-color: #E7E7E7;
}
.navbar-default .navbar-brand {
    color: white;
}
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30%;
    background-color: white;
}
hr { 
    border: 1px solid black; 
    border-radius: 300px ; 
    height: 0px; 
    text-align: center; 
}
*.jumbotron{
    background-image: url(../Imagenes/20141219_11_43_LiverpoolPerisur_Twit.png) 

}
.texto1 {
    color:white;   /* Color del texto */
    text-shadow: 1px 1px 0 white,
        -1px -1px white,
        1px -1px white,
        -1px 1px white,
        0 1px white,
        1px 0 white,
        -1px 0 white,
        0 -1px white;
}

